*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo{
    margin: 0px 0px 0px 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 12vh;
    border-color: white;
    background-color: rgb(252, 245, 251);
}
.headerNav ul{
    display: flex;
    list-style: none;
}
.headerNav ul li{
    margin: 10px;
}

.headerNav ul li a{
    text-decoration: none;
    color: rgb(79, 69, 124);
}

.BUT button{
    border: 1px solid;
    height: 40px;
    width: 120px;
    color: blue;
    margin-right: 20px;
transition:all 2s ease-in;
transition:width 2s ease-in;
border-radius: 10px;
cursor: pointer;
}
.BUT button:hover{
background-color: blue;
color: white;
width: 120px;
}
.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('car.png');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.arrow{
        font-size: 2.2em;
        text-align: center;
        color: blue;
    }
.arrow2{
        font-size: 1.5em;
        text-align: center;
       padding-bottom: 50px;
        color:white;   
    }
    .arrow3{
       margin-bottom: 150px;
    }
.pry{
    padding: 18.5px 10px 18.5px 10px;  
    border-radius: 10px;
    width: 120px;
    color: white;
    margin-right: 20px;
transition: padding 2s ease-in;
transition: all 0.5s ease;
cursor: pointer;
background-color: transparent;
border: none;
}
.pry:hover{
background-color: blue;
color: white;
width: 120px;
border-radius: 10px;
padding: 18.5px 10px 18.5px 10px;
}
.sec{
    background-color: transparent;
    border: 2px solid;
    height: 55px;
    width: 150px;
    color:rgb(199, 207, 167);
    margin-right: 20px;
transition:border 0.5s ease;
border-radius: 10px;
border-color:rgb(199, 207, 167);
cursor: pointer;
}
.sec:hover{
color: white;
height: 55px;
width: 150px;
border-radius: 10px;
border-color: white;
}